body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6b6b;
  font-family: 'calibri',sans-serif;
  font-weight: 500;
}
.container{
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #c8d6e5;
  flex:0 0 50%;
}

.jokebtn{
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 7px;
  color: white;
  background: #222f3e;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
}

.jokebtn:hover {
  background: #ff6b6b;
  color: #222f3e;
   border: 3px solid #222f3e;
}

blockquote{
  border-left:10px solid #ff6b6b;
  margin:30px;
  padding: 10px;
}
